# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*    -> expression

'hello'  -> value

-87.8  -> value

-  -> expression

/  -> expression

+   -> expression

6  -> value

2. What is the difference between string and variable?

=> String is basically a type of data or datatype which holds character or string literal in single or double quotes whereas variable is the name given to any value when we declare it whether it is int, float, string, bool etc. String is array of character and variable is the name of the location which points to a particular value.

    example : a = 10                #a is a integer variable holding value 10
              str = "PREETI"        #here str is the variable and "PREETI" is the string

3. Describe three different data types.

=> List, Tuple, Dictionary
List - List is a data type in Python which can hold values either same type or different type of data.List is declared by enclosing in square brackets []. We can fetch the list values from their index numbers just like we do in array but in array we can store same type of values only. List are mutable and we can change or reassign any value of list at any point of time.

eg: l = [1,34.5,[1,2,3],'ineuron',(8,9,'abc'),{'k1':'xyz','k2': 6}, {6,7,9,0}]
    l1 = []    #empty list

Tuple - Tuple is also a data type in Python which holds value separated by commas and they are enclosed in parentheses (). We can access the tuple value using their index position, but the main difference between List and tuple is that List are mutable whereas Tuple are immutable. A tuple once declared after that we can't change any value of that tuple. We can concatenate tuples.

eg: t = (1,3,5,[4,5,6],'abc')
    t1 = ()   #empty tuple

Dictionary - Dictionary in python is used to store values in key value pair just like in maps. The key-value pair is enclosed in  curly braces {} and separated by comma. The key should be unique in the entire dictionary but the values can be repeated.

eg: d = {'k1':2,'k2':4,'k3':'abc',3:5,'l':[1,2,3,4]}
    d1 = {}   #empty dictionary

4. What is an expression made up of? What do all expressions do?

=> Expression is made up of operands, operators and constant values. An expression is responsible to perform operations(addition, substraction, multiplication etc) based on the type of operators used. 
eg : a = b + c
     sum = 10 % 2
     num = 121

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

=> An expression is a combination of operands, operators and constant values. An expression is responsible to perform operations and return the value of that.
A statement is part of the code which will do something for us but it will not return any value. Like the statements written under if condition are supposed to do some functionality for us.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

=> bacon will contain the same value 22 because in bacon + 1 we are only performing the arithmetic operation and not reassigning it to bacon variable. The value of bacon would have changed to 23 if we would have done as below :
bacon = 22
bacon = bacon + 1

In [1]:
bacon = 22

In [6]:

bacon + 1

23

In [2]:
bacon  #as we have not reassigned bacon + 1 to bacon, hence it will return bacon = 22

22

In [3]:
bacon = bacon +1   #here I am reassigning bacon = bacon + 1 so the value of bacon will be changed to 23 from 22
bacon

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'  -> ‘spamspamspam’

'spam' * 3  -> ‘spamspamspam’

8. Why is eggs a valid variable name while 100 is invalid?

=> 100 is invalid because we can't declare a variable name starting with a number. A variable name should start with an alphabet or an underscore. Hence, eggs is a valid variable name while 100 is invalid

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

=> int(), float(), str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'


=> The expression will cause an error because concatenation is done only on string and as 99 is not in quotes so it's type is int and because of that error is thrown. 
I can fix it by putting 99 in quotes.
'I have eaten ' + ‘99’ + ' burritos.'
Output -> 'I have eaten 99 burritos.'

In [4]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [8]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'